body {
  width: 60%;
  font-family: 'Merriweather', serif;
  color: #2B3467;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: 'Sacramento', cursive;
  width: 30%;
  margin: 50px auto 0 auto;
}

img {
  border-radius: 10%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top {
  background-color: #BAD7E9;
  position: relative;
  padding-top: 50px;
}

.mid {
  background-color: #FCFFE7;
  position: relative;
}

.bottom {
  background-color: #FCFFE7;
  position: relative;
}

.cloud-1 {
  position: relative;
  left: 300px;
  bottom: 200px;
}

.cloud-2 {
  position: relative;
  right: 300px;
  bottom: 100px;
}

.scene {
  text-align: center;
}
